[Main]
# separator used by search.py, categories.py, ...
separator = \;

# can be en_US, fr_FR, ...
lang = en_GB

# Google Service Framework ID (GSF ID)
android_id = 1234567890ABCDEF

# device emulated, linked to android_id. User defined string, useful to remember what device refers to android_id
device = Google Pixel (api 25)

# username@gmail.com
google_login = myemail@gmail.com

google_password = mypassword1234

# subAuth token, alternative to username-password
auth_token :
